index.html
<html><head><title>Pillars</title><link rel="stylesheet" type="text/css" href="pillars.css"/></head><body><div class="row"><div class="c s12"><nav class="toolbar flush"><div class="toolbar-button"><a href="#">Hello</a></div><div class="toolbar-button"><a href="#">World</a></div><div class="toolbar-button right">Logout</div><div class="toolbar-button right">Derek McTavish Mounce</div></nav></div></div><div class="sliding-drawer"><div class="drawer"><h3>Content</h3><ul><li><a href="#">Pages</a></li><li><a href="#">Blog Posts</a></li><li><a href="#">Custom Page</a></li></ul></div><div class="sliding-drawer-content"><div class="row w960"><div class="c s12"><h1 class="large">Welcome to Pillars.</h1><p>Pillars is an HTML/CSS UI framework written in Stylus.</p></div></div><div class="row w960"><div class="c s12"><nav class="toolbar"><div class="toolbar-button"><a href="#">Hello</a></div><div class="toolbar-button"><a href="#">World</a></div><div class="toolbar-button right">Logout</div><div class="toolbar-button right">Derek McTavish Mounce</div></nav></div></div><div class="row w960"><div class="c s12"><input type="text" placeholder="Title" class="text"/></div></div><div class="row w960"><div class="c s4"><input type="text" placeholder="First Name" class="text"/></div><div class="c s4"><input type="text" placeholder="Middle Name" class="text"/></div><div class="c s4"><input type="text" placeholder="Last Name" class="text"/></div></div><div class="row w960"><div class="c s12"><textarea placeholder="Biography" class="textarea"></textarea></div></div><div class="row w960"><div class="c s9">&nbsp;</div><div class="c s3"><button class="button">Submit</button></div></div><div class="row w960"><div class="c s3"><label class="checkbox">Check me<input type="checkbox" class="checkbox"/></label></div><div class="c s3"><label class="checkbox"><input type="checkbox" class="checkbox"/>Hello</label></div><div class="c s3"><label class="checkbox">Check me<input type="checkbox" class="checkbox"/></label></div><div class="c s3"><input type="checkbox" class="checkbox"/></div></div><div class="row w960"><div class="c s3"><label class="radio">Check me<input type="radio" class="radio"/></label></div><div class="c s3"><label class="radio"><input type="radio" class="radio"/>Hello</label></div><div class="c s3"><label class="radio">Check me<input type="radio" class="radio"/></label></div><div class="c s3"><input type="radio" class="radio"/></div></div><div class="row w960"><div class="c s12"><div class="select"><select class="select"><option>hello</option><option>world</option></select></div></div></div><div class="row w960"><div class="c s12"><select class="select"><option>Hello</option><option>World</option></select></div></div><div class="row w960"><div class="c s12"><select class="select"><option>Hello</option><option>World</option></select></div></div><div class="row w960"><div class="c s12"><h2>Typography</h2></div></div><div class="row w960"><div class="c s6"><h1 class="large">Large H1</h1><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna vel lectus accumsan viverra.</p><h4>Heading 4</h4><p>In magnis vel, proin parturient, ac lacus in nec, porttitor cras
aenean est urna et, placerat integer sed cras, porta pulvinar,
purus sit! Dignissim, hac phasellus pid? In urna elit adipiscing
etiam cum tincidunt turpis scelerisque amet aenean porta vel.
Dapibus placerat lorem turpis, nec tincidunt hac dapibus et.</p><h5>Heading 5</h5><p>Lundium vel urna vut eros augue, cras et, cursus enim. Cras turpis
ultrices vel? Purus adipiscing, ridiculus vel purus duis pulvinar
duis pulvinar? Ac turpis.</p><h6>Heading 6</h6><p>Etiam duis mattis auctor adipiscing, nunc aliquam magnis, turpis
amet? Vel cum nec tincidunt sagittis adipiscing penatibus enim
phasellus placerat scelerisque magna nec, porttitor.</p><dl><dt>Title</dt><dd>Description</dd><dt>Title</dt><dd>Description</dd></dl></div><div class="c s6"><h1>Heading 1</h1><p> Suspendisse potenti. Ut ligula sapien, condimentum eget venenatis
 eu, condimentum eu tortor. Fusce vestibulum magna lectus.</p><h2>Heading 2</h2><p>Auctor odio ultrices natoque, sit habitasse? Urna tincidunt amet.
Dapibus phasellus? Auctor vut mus, quis lorem! Cum massa, eu elit,
vel magna ultrices mauris enim pellentesque dolor tortor penatibus
ac, sed aenean placerat, magnis sed arcu elit a turpis! Pulvinar
diam nisi adipiscing pulvinar sagittis nisi mauris amet urna
porttitor.</p><h3>Heading 3</h3><p>Fusce vestibulum magna lectus, vestibulum luctus justo. In a nulla orci, vitae varius massa.</p><ul><li>First</li><li>Second</li><li>Third</li></ul><ol><li>First</li><li>Second</li><li>Third</li></ol></div></div><div class="row w960"><div class="c s12"><h2>Grids</h2><div class="row"><div class="c s12"><div class="button">s12</div></div></div><div class="row"><div class="c s1"><div class="button">s1</div></div><div class="c s11"><div class="button">s11</div></div></div><div class="row"><div class="c s2"><div class="button">s2</div></div><div class="c s10"><div class="button">s10</div></div></div><div class="row"><div class="c s3"><div class="button">s3</div></div><div class="c s9"><div class="button">s9</div></div></div><div class="row"><div class="c s4"><div class="button">s4</div></div><div class="c s8"><div class="button">s8</div></div></div><div class="row"><div class="c s5"><div class="button">s5</div></div><div class="c s7"><div class="button">s7</div></div></div><div class="row"><div class="c s6"><div class="button">s6</div></div><div class="c s6"><div class="button">s6</div></div></div><div class="row"><div class="c s4"><div class="button">s4</div></div><div class="c s4"><div class="button">s4</div></div><div class="c s4"><div class="button">s4</div></div></div><div class="row"><div class="c s3"><div class="button">s3</div></div><div class="c s3"><div class="button">s3</div></div><div class="c s3"><div class="button">s3</div></div><div class="c s3"><div class="button">s3</div></div></div><div class="row"><div class="c s2"><div class="button">s2</div></div><div class="c s2"><div class="button">s2</div></div><div class="c s2"><div class="button">s2</div></div><div class="c s2"><div class="button">s2</div></div><div class="c s2"><div class="button">s2</div></div><div class="c s2"><div class="button">s2</div></div></div><div class="row"><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div><div class="c s1"><div class="button">s1</div></div></div></div></div></div></div><script src="vendors/jquery-1.9.0.min.js"></script><script src="vendors/hashgrid.js"></script></body></html>

index.jade
html
  head
    title Pillars
    link(rel="stylesheet", type="text/css", href="pillars.css")

  body
    include eg/top-toolbar

    div.sliding-drawer
      div.drawer
        h3 Content
        ul
          li
            a(href='#') Pages
          li
            a(href='#') Blog Posts
          li
            a(href='#') Custom Page

      div.sliding-drawer-content
        div.row.w960
          div.c.s12
            h1.large Welcome to Pillars.
            p Pillars is an HTML/CSS UI framework written in Stylus.

        include eg/toolbar

        include eg/text
        include eg/textarea

        include eg/button

        include eg/checkbox
        include eg/radio
        include eg/select

        include eg/typo

        include eg/buttons-grid

    script(src='vendors/jquery-1.9.0.min.js')
    script(src='vendors/hashgrid.js')
